@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1:focus {
    outline: none;
}

a, .btn-link, .btn {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

    a:hover, .btn-link:hover, .btn:hover {
        color: #0056b3;
    }

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.content {
    padding: 20px;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #dc3545;
}

.validation-message {
    color: #dc3545;
}

#blazor-error-ui {
    background: #dc3545;
    color: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.authentication-nav {
    background-color: #333; /* Add your desired background color */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    color: #fff; /* Text color */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

    .nav-link:hover {
        color: #ffd700; /* Highlight color on hover */
    }

.blazor-error-boundary::after {
    content: "Oops! Something went wrong.";
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 50px auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }
