@page "/itineraryactivities"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Itinerary Activities</h3>
<br />
<a href="/itineraryactivities/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Itinerary Activity
</a>
<br />
<br />

@if (ItineraryActivities == null)
{
    <div class="alert alert-info">Loading Itinerary Activities...</div>
}
else
{
    <div class="row">
        @foreach (var itineraryActivity in ItineraryActivities)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Id: @itineraryActivity.Id</h5>
                        <p class="card-text"><strong>Date Scheduled:</strong> @itineraryActivity.DateScheduled.ToString("dd MMM, yyyy")</p>
                        <p class="card-text"><strong>Date Created:</strong> @itineraryActivity.DateCreated.ToString("dd MMM, yyyy")</p>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a href="/itineraryActivities/view/@itineraryActivity.Id" class="btn btn-primary">
                                <span class="oi oi-book"></span>
                            </a>
                            <a href="/itineraryActivities/edit/@itineraryActivity.Id" class="btn btn-warning">
                                <span class="oi oi-pencil"></span>
                            </a>
                            <button class="btn btn-danger" @onclick="@(()=>Delete(itineraryActivity.Id))">
                                <span class="oi oi-delete"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<ItineraryActivity>? ItineraryActivities;

    protected async override Task OnInitializedAsync()
    {
        ItineraryActivities = await _client.GetFromJsonAsync<List<ItineraryActivity>>($"{Endpoints.ItineraryActivityEndpoint}");
    }

    async Task Delete(int itineraryActivityId)
    {
        var itineraryActivity = ItineraryActivities.First(q => q.Id == itineraryActivityId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {itineraryActivity.Id}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.ItineraryActivityEndpoint}/{itineraryActivityId}");
            await OnInitializedAsync();
        }
    }
}
