@inherits LayoutComponentBase
<style>
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mySlides img {
  width: 100%;
  height: 100%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}
</style>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    

    <main>
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="img1.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="img2.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="img3.jpg" style="width:100%">
            </div>
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
