@page "/hotels/Edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Hotel</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditHotels" hotel="hotel" />

@code {
    [Parameter] public int id { get; set; }
    Hotel? hotel = new Hotel();

    protected async override Task OnParametersSetAsync()
    {
        hotel = await _client.GetFromJsonAsync<Hotel>($"{Endpoints.HotelEndpoint}/{id}");
    }

    async Task EditHotels()
    {
        await _client.PutAsJsonAsync($"{Endpoints.HotelEndpoint}/{id}", hotel);
        _navManager.NavigateTo("/hotels/");

    }
}
