@page "/itineraries/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Itinerary</h3>

<FormComponents ButtonText="Update" OnValidSubmit="EditItinerary" Itinerary="Itinerary" />

@code {
    [Parameter] public int id { get; set; }
    Itinerary Itinerary = new Itinerary();

    protected async override Task OnParametersSetAsync()
    {
        Itinerary = await _client.GetFromJsonAsync<Itinerary>($"{Endpoints.ItineraryEndpoint}/{id}");
    }

    async Task EditItinerary()
    {
        Itinerary.DateUpdated = DateTime.Now;
        await _client.PutAsJsonAsync($"{Endpoints.ItineraryEndpoint}/{id}", Itinerary);
        _navManager.NavigateTo("/itineraries");
    }
}
