@page "/flights/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Flight</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditFlight" flights="flights" />

@code {
    [Parameter] public int id { get; set; }
    Flight? flights = new Flight();


    protected async override Task OnParametersSetAsync()
    {
        flights = await _client.GetFromJsonAsync<Flight>($"{Endpoints.FlightEndpoint}/{id}");
    }

    async Task EditFlight()
    {
        await _client.PutAsJsonAsync($"{Endpoints.FlightEndpoint}/{id}", flights);
        _navManager.NavigateTo("/flights/");
    }
}
